bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

*.user
*.suo
*.vs

.vscode/
*.sln.docstates
*.vcxproj.filters

project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

TestResults/
*.log
*.coverage
*.coveragexml

*.nupkg
**/packages/*
!**/packages/build/

Dockerfile
PublishScripts/

.idea
.idea/
artifacts/